@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* transition: .5s ease; */
}

#loculus, #space{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    border: none;
    position: relative;
    display: block;
    transition: 1s;
}

#list li img, #list li p{
    display: inline-flex;
}

#list li p{
    transform: translateY(-50%);
}


/* 
::-webkit-scrollbar{
    
    right: 10px;
    width: 10px;
    
}

::-webkit-scrollbar-track{
 
    position: absolute;
    background-color: transparent;
    right: 20px;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    border-radius: 30px;
    background: var(--secondarycolor);
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--accentcolor);
    width: 10px;
}

::-webkit-scrollbar:hover{
    background-color: #eee;
    width: 20px;
    
}

::-webkit-scrollbar:hover > ::-webkit-scrollbar:hover{
    width: 10px;
    
} */

:root{
    --primarycolor: #fff;
    --secondarycolor: #155;
    --accentcolor: #000;
    --borderradius: 30px;
}

body{
    /* min-height: 500vh; */
    /* background-image: url(../WSC/assets/images/hero-banner.jpg);
    background-repeat: no-repeat; */
    background-color: var(--primarycolor);
}

i {
    color: var(--accentcolor);
}

p {
    color:var(--accentcolor);
}

.gap{
    height: 10vh;

}

.up{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: var(--secondarycolor);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5) ;
}

.down{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--secondarycolor);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.5) ;
}



h1{
    margin: auto;
}

input{
    display: block;
    border: none;
    /* outline: none; */
    background-color: #fff;
    transition: .5s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

input[type=text], input[type=password], input[type=email], input[type=file]{
    max-width: 80%;
    max-height: 20%;
    padding: 3%;
    margin: 30px;
    border-radius: var(--borderradius);
}

input[type=submit]{
    color: #fff;
    background-color: var(--secondarycolor);
    border-radius: var(--borderradius);
    padding: 5% 10%;
    margin: 30px;
    cursor: pointer;
    border-radius: var(--borderradius);
}

input:hover, input:focus{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}


/* form */

.formcontainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    top: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1{
    color: var(--secondarycolor);
}

.formcontainer input:focus{
    border: none;
}


.formcontainer .link{
    display: block;
    font-size: 16px;
    text-decoration: none;
    margin: 30px;
}

.err{
    color: #ab0e0e;
    padding: 10px;
}

textarea {
    width: 100%;
    height: 95%;
    resize: none;
}

/* video */
.video{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video{
    width: 640px;
    height: 360px;
}


/* my loculus page */

header{
    height: 10vh;
    width: 100%;
    background: var(--primarycolor);
    position: fixed;
    display: flex;
    align-items: center;

    text-align: center;
    background: linear-gradient(var(--primarycolor) 0%, transparent 90%);
    z-index: 10;

}

.btn{
    margin: 0 10px;
    width: 35px;
    height: 35px;
    background: var(--primarycolor);
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn i, #searchcontainer i{
    line-height: 2;
    color: var(--accentcolor);
}

#menu{
    position: relative;
    /* padding: 5px 10px; */
    
}

.btn.active{
    background: var(--secondarycolor);
    color: var(--primarycolor);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.btn.active > i{
    color: var(--primarycolor);
}

header h4{
    color: var(--secondarycolor);
}


.searchcontainer{
    margin-left: auto;
    margin-right: 10px;
    width: 500px;
    height: 36px;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    background-color: var(--primarycolor);
    border-radius: 20px;
    transition: .5s;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#searchbtn{
    min-width: 35px;
    min-height: 35px;
}

.searchcontainer:focus-within{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.searchcontainer .magnifying-glass{

}

.searchcontainer form{
    position: relative;
    width: 100%;
    padding: 0;
}

.searchcontainer #bar{
    box-shadow: none;
    width: 100%;
    margin: 0;
    /* border: 2px solid var(--accentcolor); */

}


#user-img{
    /* padding: 18px; */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

}

header #pp{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/*
.user-img img{
    position: relative;
} */

#user-card{

    width: 200px;
    /* max-height: 0px; */
    /* top: 10vh; */

    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    background:var(--primarycolor);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


#user-card img{
    width: 100%;
    height: 100px;
    object-fit: contain;
}

#user-card .details{
    /* height: 200px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.details span{
    font-weight: 30;
    
}

.card-i i{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.social-media i{
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    
}



/* #user-img:hover, #more-options:hover, #menu:hover{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
} */

#more-options {
    /* padding: 5px 15px; */
    /* right: 7%; */
    border-radius: 50%;
    cursor: pointer;
}

/* .more-options #opt{

    display: block;
    position: relative;
    padding: 5px 15px;

    background: #eee;
    border-radius: 50%;
    color: var(--secondarycolor);
} */

#more-options ul li a:hover > i {
    color: var(--primarycolor);
}

.popup{
    position: absolute;
    display: flex;
    background: var(--primarycolor);
    max-height: 0;
    right: 0%;
    top: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: hidden;

}


/* .right{
    min-height: 50px;
} */


.more-options .popup .ul{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.more-options .popup ul li{
    list-style: none;
    /* padding: 5px; */
}

.more-options .popup ul li a{
    display: block;
    text-decoration: none;
    width: 270px;
    color: var(--accentcolor);
    padding: 5px 10px;

}

.more-options .popup ul li a:hover{
    background: var(--secondarycolor);
}

.more-options .popup ul li a:hover > i{
    color: var(--primarycolor);
}

.more-options .popup ul li a i{
    margin: 15px;

}



.background{
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 5;
    display: none;
}

#modal-popup{
    width: 50%;
    height: 80%;
    padding: 10px;
    /* display: block; */
    margin: auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#modal-popup form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

h3{
    margin-top: 5vh;
    color: #fff;
}

/* .modal-popup input{
    border-radius: 10px;
    max-width: 80%;
    max-height: 20%;
    padding: 5%;
    margin: 30px;

} */




/* .more-options i {
    position: absolute;
    top: 30%;
} */

.big-container{
    display: flex;
    flex-direction: column;
}


.aside{
    position: absolute;
    background: #fff;
    margin-top: 10px;
    max-width: 0;
    top: 10vh;
    left: 10px;
    /* min-height: 5vh; */
    max-height: 0;
    border-radius: 5px;
    /* display: flex;
    justify-content: center; */
    /* overflow: hidden; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 5;
}


.icons{

    /* height: 100vh; */
    margin: 0 3px;
    position: relative;


    /* z-index: 5; */
}

/* .icons div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;
} */


.icons li a i{
    /* margin: 10px; */
    size: 20px;
    color: var(--accentcolor);
}

.menu-i{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: auto;
    height: auto;
}

.menu-i span{
    display: inline-flex;
    font-size: 15px;
}

.menu-i:hover{
    background: var(--secondarycolor);
}

.objects{
    /* margin-left: 20px; */
    /* width: 200px; */
    /* max-height: 500px; */
    /* top: 10vh;
    left: 50px; */
    position: absolute;
    /* overflow: hidden; */
    border-radius: 5px;
    background:#fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transition: .6s, transform .7s;
    transform: translateY(100px);
    z-index: 6;

}

.objects.active{
    max-height: 400px;
    max-width: 200px;
    visibility: visible;
    transform: translateY(10px);
    overflow: visible;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}


.popup-container{
    max-height: 0;
    color: var(--accentcolor);
    transition: .5s;
    overflow: hidden;
}

.popup-container.active{
    max-height: 300px;
    overflow: scroll;
}

.obj2{
    margin-left: 30px;
    width: 200px;
}

.objects li{
    list-style: none;
    padding: 5px;
    text-align: start;
}

.objects li a{
    /* background: var(--accentcolor); */
    color: var(--accentcolor);
    text-decoration: none;
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    transition: .3s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


.objects li i{
    padding-left: 10px;
    padding-right: 30px;
}

.objects li a:hover{
    color: #fff;
    background: var(--secondarycolor);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.loculuscontainer{
    /* margin: 20px; */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* width: 70%; */
    justify-content: flex-start;
    flex: 1;
    /* gap: 5px; */
    transition: 1s;
}

.container{
    flex: 0 0 25%;
    /* height: 250px; */
    /* height: 300px; */

    /* margin: 2%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemcontainer{
     /* to make the container responsive */
    background: var(--primarycolor);
    width: 200px;
    max-height: 150px;
    padding: 5%;
    overflow: hidden;
    top: -30px;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.itemcontainer:hover{
    box-shadow: 5px 5px 10px 0px rgba(154, 255, 255, 0.25),
    -5px -5px 50px 0px rgba(1, 28, 45, 0.3);
    /* background-color: var(--accentcolor); */
    max-height: 500px;
}

.itemcontainer.active{
    box-shadow: 5px 5px 10px 0px rgba(154, 255, 255, 0.25),
    -5px -5px 50px 0px rgba(1, 28, 45, 0.3);
    /* background-color: var(--accentcolor); */
    max-height: 500px;
}

.iconcontainer{
    /* display: block; */
    position: relative;
    max-width: 100px;
    max-height: 60px;
    background: transparent;
    border-radius: 10px;
    transition: .5s;
    z-index: 1;
    font-size: 50px;
    text-align: center;

}

.iconcontainer img, .iconcontainer video {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* .iconcontainer video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
} */

.iconcontainer i{
    color: var(--secondarycolor);
    /* text-shadow: 0px 10px 5px var(--accentcolor); */
}



.iconcontainer:hover{
    transform: scale(130%);
}

.smalldescription{
    /* padding: 5%; */
    width: 100%;
    position: relative;
    top: 50px;
    /* text-overflow: ellipsis; */
    /* display: block; */
}

.smalldescription h4{
    color: var(--secondarycolor);
    overflow-wrap: break-word;
    word-wrap: break-word;
      /* Set the maximum number of lines before cutting off text */
    /* display: -webkit-box; */
    /* -webkit-line-clamp: 3; Adjust the number of lines (e.g., 3 lines) */
    /* -webkit-box-orient: vertical; */
}

.smalldescription p{
    font-weight: 30;
    font-size: 15px;
    padding-top: 20px;
}

.fading-bg{
    background: linear-gradient(#eee 0%, var(--secondarycolor) 20%);
    height: 20px;
}

.options{
    /* width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: var(--secondarycolor);
    padding-top: 10px; */
    background: linear-gradient(transparent 0%, var(--secondarycolor) 40%);
    /* background: var(--secondarycolor); */
    width: 100%;
    height: 60px;
    outline: none;
    bottom: 0px;
    display: flex;
    position: absolute;
    justify-content: end;
    align-items: center;
    /* padding-right: 10px; */
    text-align: center;
    gap: 5px;
    /* box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5); */
    transition: .5s;
}

.options i{
    color: var(--primarycolor);
}

.options a{
    width: 30px;
    height: 30px;
    margin: auto;
    /* border-radius: 30px;
    background: #eee;
    padding: 0px 10px;
    justify-content: center;
    color: var(--accentcolor); */
    /* text-align: center; */
    right: -200px;
    position: relative;
    top: 10px;
    /* padding: 5px 10px; */
    font-size: 13px;
    background: var(--primarycolor);
    border-radius: 50%;
    color: var(--secondarycolor);
    transition: .5s;
    outline: none;
}

.options a i {
    color: var(--secondarycolor);
}


.options .hint{
    /* position: absolute; */
    /* transform: translateX(-80px); */
    padding: 10px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.itemcontainer:hover .options .hint, .itemcontainer.active .options .hint{
    /* opacity: 0; */
    transform: rotate(-90deg);
}


.itemcontainer:hover .options a, .itemcontainer.active .options a{
    right: 0px;
}

.options a:hover{
    background-color: var(--secondarycolor);
    box-shadow: 0px 0px 5px 0px var(--primarycolor);
    width: 35px;
    height: 35px;
}

.options a:hover > i{
    color: var(--primarycolor);
}


.options a i {
    line-height: 2.5;
}

/* live search */

#livesearchcontainer{
    position: relative;
    left: -150px;
}

#list {
    width: 300px;
    position: absolute;
    text-align: start;
    transition: .5s;
}

#loculusTarget{
    margin: 0;
}


#list li{
    list-style: none;
    padding: 5px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: .5s;
    background-color: var(--primarycolor);
}

#list li:hover{
    padding: 10px;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
}

/* myspace */
.space{

}

.spacecontainer{
    min-height: 200vh;
}


.objbar{
    width: 100%;
    height: 25px;
    color: #fff;
    cursor:default;
}

.objects .objbar{
    width: 100%;
    height: 15px;
    color: #fff;
    cursor:default;
}

.obj h6{
    color: var(--primarycolor);
    padding: 5px;
    user-select: none;
}
.objbar span{
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
}

.obj{
    width: 300px;
    /* padding: 100px; */
    height: auto;
    resize:both;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transition: none; */
    /* border: var(--accentcolor) 4px; */
    border-radius: 5px;
    overflow: hidden;
    /* z-index: 0; */
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
    /* border: solid 2px rgba(0, 0, 0, 0); */
    padding: 0.5px;
    transition: border .5s;
}

.objContent{
    width: 99%;
    height: 99%;
    /* margin: auto; */
}

.obj .titleContainer{
    width: 90%;
}

.obj h6{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.obj.active{
    
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

/* .obj:hover{
    border: solid 2px var(--secondarycolor);
    z-index:5;
    
} */



.obj img{
    width: 100%;
    object-fit: cover;
}

.obj video{
    width: 100%;
    height: 90%;
}



.obj iframe{
    width: 100%;
    height: 93%;
    background: #fff;
}

@media  only screen and (max-width:768px) {
    .container{
        flex: 0 0 50%;
    }

    header h1 {
        font-size: 100%;
    }


    .searchcontainer .magnifying-glass {

    }

    .searchcontainer{
        width: 35px;
        transition: .5s;
    }

    .searchcontainer form{
        width: 0%;
    }

    .searchcontainer.on{
        
        width: 250px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    .searchcontainer.on form{
        width: 100%;
    }


    .btn.off{
        /* display: none; */
        position: absolute;
        visibility: hidden;
    }
    /* .user-img, .more-options{
        transform: scale(70%);
    } */

    /* .more-options {
        transform: scale(300%);
    }

    .more-options i {
        transform: scale(50%);
        top: 10%;
    } */


    #modal-popup{
        width: 80%;
        height: 80%;
        padding: 20px;
        /* display: block; */
        margin: auto;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

@media only screen and (max-width:912px) {
    .container {
        /* flex: 33%; */
    }
}



.template{
    max-height: 100vh;
    overflow-y: scroll;
}

@media only screen and (max-width:400px){
    .container{
        flex: 0 0 100%;
    }

}